<title>About | Yourie</title>
<% provide(:title, "About") %>
<br />
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>

<h1>About Yourie</h1><br />
<center><h3>It is said that a picture is worth a thousand words.</br> </br> 
It can also be said that behind every picture there is a </br>story that pictures alone cannot tell.</h3></center> </br>

<p>


<!--<<h4><center>Every life is filled with stories!-->

<center><h3>With Yourie you can create "Digital Books" to organize, store and share<br /> your memorable life experiences using pictures and text.<br /><br />
<br />
You can also use Yourie to store things like favorite recipes,<br />
build personal blogs and categorize essentially anything. <br /><br />
<br />
<h1>Sample Yourie Bookshelf</h1>
<%= image_tag("sampleindex.png", alt: "Family Bookshelf") %>
<br /><br />
<h1>Sample Yourie Book</h1>
<%= image_tag("shells 10th 1.png", alt: "Shells Bday") %><br /><br />
<br /><br />
<h1>Sample Yourie Recipe Book</h1>
<%= image_tag("recipes.png", alt: "Recipes") %><br /><br />
<h1>Share with Family & Friends</h1>
<%= image_tag("follow2.png", alt: "Follow") %><br /><br /></center>
</br></br>
<center><%= link_to "FREE BASIC", basic_path, class: "btn btn-lg btn-primary" %>&nbsp;&nbsp; <%= link_to "PREMIUM", premium_path, class: "btn btn-lg btn-primary" %></br></center>

</br>
<center>Photos Stored Safely on Amazon's AWS Storage Services <%=image_tag("Amazon.png", alt: "Amazon")%>
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></br></center><br />
</p>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>



