<title>BASIC | Yourie</title>
<% provide(:title, "Yourie Basic") %>
<br />
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br></br>
              
<h1><a href="https://yourie.herokuapp.com/signup" title="FREE BASIC"><u>FREE BASIC!</u></a></h1>
<center><i>No Credit Card Required</i></center></br>

<center><p>
<h3>Your Basic Account Includes:</h3><br />


&#8226;  10 Books<br />
&#8226;  Unlimted Text Posts<br />
&#8226;  500 Photo Posts<br />
&#8226;  Unlimited Follow/Followed (Shares)<br />
&#8226;  10 Gigibites Storage*<br />

</br>
<i>* Additional storage can be purchased for $10 per year per 50 GB.</i>
<br /></center>
<br /><br />
<center> <%#= link_to "PREMIUM", premium_path, class: "btn btn-lg btn-primary" %></br></center>



<center>Photos Stored Safely on Amazon's AWS Storage Services <%=image_tag("Amazon.png", alt: "Amazon")%></center> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>