<% provide(:title, "Privacy Policy") %>
<h1>Privacy Policy</h1>
<p>
 <center><b>USDigiBrands</b></center>
</p>
      <p>This document was last updated on May 25, 2016.</p>
    <p>1. Acknowledgment and acceptance of terms</p>
    <p>USDigiBrands is committed to protecting your privacy.  This Privacy Statement sets forth our current privacy practices with regard to  the information we collect when you or your computer interact with our websites.   By  accessing USDigiBrands Website Addresses, you acknowledge and  fully understand USDigiBrands’s Privacy Statement and freely consent to  the information collection and use practices described in this Website Privacy Statement.</p>
    <p>2. Participating Merchant Policies </p>
    <p>Related services and offerings with links from this website,  including vendor sites, have their own privacy statements that can be viewed by  clicking on the corresponding links within each respective website. Online  merchants and others who participate in USDigiBrands services are  encouraged to participate in industry privacy initiatives and to take a  responsible attitude towards consumer privacy.   However, since we do not have direct control over the policies or  practices of participating merchants and other third parties, we are not  responsible for the privacy practices or contents of those sites.  We recommend and encourage that you always  review the privacy policies of merchants and other third parties before you  provide any personal information or complete any transaction with such parties.<br />
    </p>
    <p>3. Information We Collect and How We Use It </p>
    <br />
    USDigiBrands collects certain information from and about its users  three ways: directly from our Web Server logs, the user, and with Cookies.
  </p>
  <p>a. Web  Server Logs. </p>
  <p>When you visit our Websites, we may track  information to administer the site and analyze its usage. Examples of  information we may track include: </p>
  <ul type="disc">
    <li>Your Internet protocol address. </li>
    <li>The kind of browser or computer you use. </li>
    <li>Number of links you click within the site. </li>
    <li>State or country from which you accessed the site. </li>
    <li>Date and time of your visit. </li>
    <li>Name of your Internet service provider. </li>
    <li>Web page you linked to our site from. </li>
    <li>Pages you viewed on the site.</li>
  </ul>
  <p>b. Use of Cookies</p>
  <p>USDigiBrands may use cookies to personalize or enhance your user experience.  A cookie is a  small text file that is placed on your hard disk by a Web page server.  Cookies cannot be used to run programs or  deliver viruses to your computer.   Cookies are uniquely assigned to you, and can only be read by a Web  Server in the domain that issued the cookie to you.  </p>
  <p>One of the primary purposes of cookies is to provide a convenience feature to save you time.   For example, if you personalize a web page, or navigate within a site, a  cookie helps the site to recall your specific information on subsequent visits.  Hence, this simplifies the process of  delivering relevant content and eases site navigation by providing and saving  your preferences and login information as well as providing personalized  functionality..  </p>
  <p>USDigiBrands reserves the right to share aggregated site statistics with partner companies, but does not allow other companies to  place cookies on our website unless there is a temporary, overriding customer  value (such as merging into USDigiBrands sites that relies on third-party  cookies).</p>
  <p>You have the ability to accept or decline cookies.  Most Web browsers automatically accept  cookies, but you can usually modify your browser setting to decline cookies. If  you reject cookies by changing your browser settings then be aware that this may  disable some of the functionality on our Website.</p>
  <ul>
    <li>Google, as a third party vendor, uses cookies to serve ads on our sites. </li>
    <li>Google's use of the DART cookie enables it to serve ads to our users based on their visit to our sites and other sites on the Internet. </li>
    <li>Users may opt out of the use of the DART cookie by visiting the <a href="http://www.google.com/privacy_ads.html">Google ad and content network privacy policy</a>. </li>
  </ul>
  <p>c. Personal Information Users</p>
  <p>Visitors to our websites can register to purchase services and to participate in games and contests.   When you register, we will request some personal information such as  name, address, email, telephone number or facsimile number, account number and  other relevant information.  If you are  purchasing a service, we will request financial information.  Any financial information we collect is used  only to bill you for the services you purchased.  If you purchase by credit card, this  information may be forwarded to your credit card provider. For other types of  registrations, we will ask for the relevant information. You may also be asked  to disclose personal information to us so that we can provide assistance and  information to you. For example, such data may be warranted in order to provide  online technical support and troubleshooting.</p>
  <p>We will not disclose personally identifiable information we collect from you to third parties without your permission except to the extent  necessary including:</p>
  <ul>
    <li>To  fulfill your service requests for services.</li>
    <li>To  protect ourselves from liability,</li>
    <li>To  respond to legal process or comply with law, or</li>
    <li>In  connection with a merger, acquisition, or liquidation of the company.</li>
  </ul>
  <p>4. Use of Web Beacons or GIF files</p>
  <p>USDigiBrands Web pages may contain electronic images known as  Web beacons – sometimes also called single-pixel gifs – that allow USDigiBrands to count users who have visited those pages and to deliver  co-branded services.  USDigiBrands  may include Web beacons in promotional e-mail messages or newsletters in order  to determine whether messages have been opened and acted upon.</p>
  <p>Some of these Web beacons may be placed by third party  service providers to help determine the effectiveness of our advertising  campaigns or email communications.  These  Web beacons may be used by these service providers to place a persistent cookie  on your computer.  This allows the  service provider to recognize your computer each time you visit certain pages  or emails and compile anonymous information in relation to those page views,  which in turn enables us and our service providers to learn which  advertisements and emails bring you to our website and how you use the site.  USDigiBrands prohibits Web beacons from  being used to collect or access your personal information.</p>
  <p>5. Accessing Web Account Information</p>
  <p>We will provide you with the means to ensure that personally identifiable information in your web account file is correct and current.  You may review this information by contacting  us by sending an email to our support attendant --admin@yourie.com.</p>
  <p>6. Changes to this Statement</p>
  <p>USDigiBrands has the discretion to occasionally update  this privacy statement.  When we do, we  will also revise the “updated” date at the top of this Privacy page.  We encourage you to periodically review this  privacy statement to stay informed about how we are helping to protect the  personal information we collect.  Your  continued use of the service constitutes your agreement to this privacy  statement and any updates.</p>
  <p>7. Contacting Us </p>
  <p>If you have questions regarding our Privacy Statement, its implementation, failure to adhere to this Privacy Statement and/or our general practices, please contact us or send your comments to:</p>
  <p>admin@usdigibrands.com<br />
    Attention:  Privacy Statement Personnel</p>
  <p>USDigiBrands will use commercially reasonable efforts to promptly respond and resolve any problem or question.</p>