
<% @user = current_user %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %> </h1>
        <%= @user.name %>
     </section>
   </aside>
</div>
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>
<h1>Cancel Your Yourie Account</h1></br>
<center><h1>We are sorry to see you go!</h1></center></br>
<center><b>To cancel your account: copy and paste the text in the box below into the body of an email and send to <u>admin@usdgb.com</u></b></br>
Once we recieve and verify your request we will cancel your account and delete all associated posts.
</br>
</br>
<i><b>CAUTION: The account and data cannot not be retrieved!!!</b></i>
</br>
</br>
<i>Do not refresh this page</i></center></br></br>

   <section class="box">
     <div class="col-md-6">
       <textarea rows="9"> 
  Please cancel my <%= @user.name %> Yourie Account and delete all associated posts.

  Account: <%= request.referrer %>

  I understand that the account and data cannot not be retrieved!!!
      </textarea>
    </div>
  </section>
  
<center><b>Once you are finished with the email, click Close.</br>

<%= link_to "Close", url_for(:back), class: "btn btn-sm btn-primary" %></b></center>





