<title>Gift Shop | Yourie</title>
<% provide(:title, "Gift Shop") %>
<br />
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/trialoffer' %></center></br>
<h1>Gift Shop</h1>

<h1>Love Yourie?</br> Now you can show it!</h1>



</br></br></br></br>

</br><center><%=  image_tag("youriemug.png", alt: "mug") %></br></br>
Yourie Coffee Mug</br>
 $15.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=596L4DWPQ596J' %></br>
             </center></br>             
<center><%=  image_tag("waterbottle.png", alt: "cal") %></br>
Yourie Water Bottle</br>
 $10.49 Plus $5 Shipping</br>
 Out of Stock</br>
 </center></br>
<center><%#= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XQTDWFC6BGZLS' %></br>
             </center></br></br></br>

<center><%=  image_tag("yourietote.png", alt: "tote") %></br></br>
Yourie Shoulder Tote</br>
 $18.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8E8HWP7RVPSC2' %></br>
             </center></br></br></br>
<center><%=  image_tag("totepp.png", alt: "cap") %></br>
Yourie Upswing Zippered Tote Bag
</br>Our most popular item
 $25.49 Plus $5 Shipping</br>
 Out of Stock</br>
  </center></br>
<center><%#= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=K367G4QYYTT5N' %></br>
             </center></br>


</br><center><%=  image_tag("womenshuron.png", alt: "mug") %>
</br>
Yourie Elevate Huron Women's Fleece Full Zip Hoody</br>
 $65.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y8GTDG2JD7TXC' %></br>
             </center></br></br></br>
             
<center><%=  image_tag("womenspolo.png", alt: "mug") %></br>
Yourie Elevate Westlake Women's Short Sleeve Polo Shirt</br>
 $45.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=85YDSRAMLX4W4' %></br>
             </center></br>
             
</br><center><%=  image_tag("womenshoodie.png", alt: "cal") %></br> 
Yourie Elevate Rhodes Women's Fleece Kanga Hoody</br>
 $55.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2NHPNAJPXZTNE' %></br>
             </center></br></br></br>
             
<center><%=  image_tag("mensspolo.png", alt: "mug") %></br>
Yourie adidas® ClimaLite® Textured Short Sleeve Polo</br>
 $65.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZAB5HMDEKCAAL' %></br>
             </center></br></br>
             
             
</br><center><%=  image_tag("mensknit.png", alt: "mug") %></br> 
Yourie Elevate Okapi Men's Knit Jacket</br>
 $55.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6KVGKA6ATXSHY' %></br>
             </center></br></br></br>



<center><%=  image_tag("hoodiewht.png", alt: "cal") %> </br>
Yourie Hoodie</br>
 $53.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MPX3V64QSPWN' %></br>
             </center></br></br></br></br>
             
             
<center><%=  image_tag("longtee.png", alt: "cap") %> </br></br>
Yourie Men's Long Tee</br>
 $16.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BKNYR5C2MMTMY' %></br>
             </center></br></br></br></br>

<center><%=  image_tag("yourietee.png", alt: "tee") %> </br></br>
Yourie Ladies' T-Shirt</br>
 $16.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BUM5VRNFVJFPS' %></br>
             </center></br></br></br>
             
<center><%=  image_tag("menstee.png", alt: "tee") %> </br></br>
Yourie Men's Tee</br>
 $16.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T8LX8T4666TVQ' %></br>
             </center></br></br></br>

<center><%=  image_tag("cap.png", alt: "cap") %> </br></br>
Yourie Embroidered Cap</br>
 $18.49 Plus $5 Shipping</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YX8YVLTFY4Z4S' %></br>
             </center></br></br></br>

</br>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>



