<title>Help | Yourie</title>
<% provide(:title, "Help") %>

<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>

<center><a href="http://www.usdigibrands.com/machform/view.php?id=15731" title=""><b><font size="3" color="blue">Click Here for a Help Request Form</font></b></a></center>
<p>

<h1>How do I create a Yourie Book?</h1><br />
<center><h4><b>Your Youries can be as simple as a timeline of recent events, or you can create complete “Memory Books”.</b></center> <br /><br />


<b>Here are the steps to create your first Yourie Book:</b> <br /><br />
<ul>1)	Signup for and login to your Yourie account.  Once you are signed in, your Yourie <b>Home</b> page will be displayed.</ul><br />
<ul>2)  On the <b>Home</b>  page click <b> New Book</b>.  Enter the name for your new <b>Book</b> and <b>Save</b>.  This will create your Yourie <b>Book</b> and will open your <b>Bookshelf</b>.</ul><br />
<ul>3)	Click on the <b>Book</b> and create your new Yourie <b>post(s)</b> by entering the text into the <b>“Compose new Yourie post……..”</b> text box.</ul><br /><br />
If you have a related photo to go with your Yourie post click on <b>Choose File</b> to upload the photo and then click <b>Post</b>.  That’s it.  Your Yourie text and photo will come up on your home page.
Repeat the process to add more Posts.

<br /><br />To add another <b>Book</b>,  click on the <b>Home</b> page and select <b> New Book </b> again.  You can create as many <b>Books</b> as you like.</br></br>

<br />

<u>NOTE:</u> Pictures taken from some Smartphones have orientation codes built into the photos and will not display correctly.<br />
<br />If you have this problem, experiment with taking pictures with the phone camera horizontially and then vertically to
determine how the phone codes the photos.  
<br /><br />
You can also rotate your pictures, save them and then edit the post with the correct orientation.
<br /><br />


<h3><center>Posting Yourie photos from your smartphone</center></h3><br />
Login to your Yourie account from your smartphone.  From the <b>Home</b> page click on <b>Choose File</b>.  You will be given the options to <b>Take Photo</b> or <b>Choose Existing</b>.
<br /><br />
If you choose <b>Take Photo</b>, take the photo then add the text you want to describe the “story” to the <b>Post</b> and click <b>Post</b>.  Your new Yourie post will appear on your <b>Home</b> page. 
<br /><br />
If you you have a photo on your smartphone that you would like to upload, click on the <b>Choose Existing</b> option and choose the photo you would like to upload.  Add the related text and click <b>Post</b>.

<h3><center>Viewing your Yourie Posts</h3></center><br />
<b>Display order:</b>
<br /><br />
<b>Posts</b> in the <b>Book</b> will be displayed <b>"Last to First"</b>.  This will display your newest posts in their proper <b>“New Post Order”</b>. <br /><br />

To display your posts in <b>“Story Order”</b> (First to Last) click on the <b>Show Posts: First to Last</b> button. <br /><br />

To display your posts in <b>"New Post Order"</b> or to create a <b>New Post</b>, click on the <b>Show Posts: Last to First/Add Post</b> button.<br /><br />

<b>Followers</b> viewing your Youries can choose to view your posts in <b>"Newest Post Order"</b> or<b> “Story Order”</b>. <br /><br />
<h3><center>Sharing your Yourie posts with others</h3></center><br />
From your <b>Home</b> page, click the <b>"Share Your Yourie"</b> button and follow the instructions. <br /><br />

<h3><center>Follow/Unfollow other Yourie users</center></h3><br />
<b>Follow</b> other’s Youries: <br /><br />
If you receive a Yourie email invitation from a friend or family member, the email will include a link to their <b>Yourie Address (URL)</b>. <br /><br />
Login to your Account and click on the <b>Yourie Address (URL)</b> link in the email.   Their Yourie <B>Books</B> will be displayed along with a <b>“Follow”</b>  button.  Click on the <b>“Follow</b> button to keep them as a <b>“Follow”</b>.<br /><br />
<b>Unfollow</b> other’s Youries: <br /><br />
Click on the user's Yourie that you want to <b>”Unfollow”</b> and click the <b>”Unfollow”</b> button. <br /><br />

<h3><center>Change your Gravatar Picture</center></h3><br />
Login into your Yourie account and from the <b>Home</b> page, click on <b>Account Settings</b> and then click <b>Settings</b>.<br /> <br /> 
Click on the <b>change</b> link and follow the instructions. 
</br></br>

<h3><center>Format your text</center></h3><br />
<center>You can format your text post using simple HTML code:</center> 
</br></br>
<center><%= link_to image_tag("html helper.png", alt: "HTML Helper"),
              'https://yourie.herokuapp.com/' %></center>
Need Help?</br> Contact Us at: admin@usdgb.com</br>
(208) 347-5470
</br></br>

</br>
<center>Photos Stored Safely on Amazon's AWS Storage Services <%=image_tag("Amazon.png", alt: "Amazon")%>
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></br></center><br />
</p>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>



