<!--views/static_pages/home.html.erb-->
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      
    </aside>
    </div>
    <script type="text/javascript">stLight.options({publisher: "c14ff29b-ab4b-400b-8636-5feeac74864c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "c14ff29b-ab4b-400b-8636-5feeac74864c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "email", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

    
  </br>
  <h1>Welcome Back!</h1>
    <center>
 
    <%= link_to image_tag("YourieLRG.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></br>

  
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></br>
    </center>
    
<% else %>
</br>
  
  <center><h3><i><font color="#0099ff">Every Life Is A Story&trade;</font> </i></center>
  <div class="center">
       <%= link_to image_tag("YourieLRGDMB.png", alt: "Yourie logo"), 'http://www.yourie.com/' %>
  
 </div>
<script type="text/javascript">stLight.options({publisher: "c14ff29b-ab4b-400b-8636-5feeac74864c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "c14ff29b-ab4b-400b-8636-5feeac74864c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "email", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<%#= link_to image_tag("Autumn 2.png", alt: "Yourie logo")%>
<%#= link_to image_tag("Autumn.png", alt: "Yourie logo")%>
<%#= link_to image_tag("Autumn 3.png", alt: "Yourie logo")%></cenetr></br></br>
<h4><center><!--A better way to organize, store and share your most treasured content.--> 
<center><h3><i><font color="#00008B">Organize, store and share your treasured memories with photos and stories! </i></center>
</br>
<center>&#8226; Free Up Your Smartphone Camera Roll</center></br>
<center>&#8226; Share Personal Stories and Experiences with Family & Friends</center></br>
<center>&#8226; Private - No Public Feeds</center></br>
<center>&#8226; No Ads</center></br>
<center>&#8226; Safe for Children</font></center></br><!-- <br /><br />
<!--   <h4><center>Create life  "Memory Books” using photos, text, videos, music,</br>and more and share them with your family and friends.-->
<!-- <br /><br />
  <a href="https://yourie.herokuapp.com/sample"target="_blank">Click here to see a Sample Yourie</a></h4></center>--></center>
</h4>  <br />
<center><%= link_to "FREE BASIC", basic_path, class: "btn btn-lg btn-primary" %>&nbsp;&nbsp; <%= link_to "PREMIUM", premium_path, class: "btn btn-lg btn-primary" %></br></center>

<center><%#= link_to image_tag("Free Basic.png"), signup_path %><%#= image_tag("Basic Plus.png") %><%#= image_tag("Plan Premium.png") %></center>
<center></br>
<h4>Great on Smart Phones, Tablets & PCs!</h4>

<%= image_tag("smart phone yourie.png") %>
              
<%= image_tag("Tablet.png") %>
              
<%= image_tag("pc yourie.jpg") %></center>
  
  <center><%#= link_to "View A Sample Yourie Album", 'https://yourie.herokuapp.com/users/pmvxzVQd', class: "btn btn-lg btn-primary" %></center>
  <!--</br></br><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Build Custom Bookshelves&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Share them with Family & Friends&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center>
<center><%#= image_tag("family booksm.png")%><%#= image_tag("weddingsm.png")%><%#= image_tag("shellsm.png")%></br>
</center></br></br>
<!-- <i> To to see a <b>"Sample"</b> Yourie </br>
  Create an account, login and click the About/Help tab.</i> </a></h1></center></br></br> --><br /><br /></center>
<center>Photos Stored Safely on Amazon's AWS Storage Services <%=image_tag("Amazon.png", alt: "Amazon")%>
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></center></br><br />
  
  <% end %>
  <center>
<br />
<font color="#0099ff"> Be Sure To Visit Our Gift Shop For Great Holiday Gifts Ideas!</font><br />
<br /><br />
<%= link_to image_tag("youriemugmed.png", alt: "mug"),'https://yourie.herokuapp.com/giftshop'  %></center>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>
