<% @user = current_user %></br>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %> </h1>
        <%= @user.name %>
     </section>
   </aside>
</div>
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>
<center><b>Invitate to A Friend or Family Member to view your Yourie Album!</br></br>
To send an invitation: copy and paste the text in the box below into the body of an email and send to your invitee.</b></br>
<i>Do not refresh this page</i></center></br></br>

   <section class="box">
     <div class="col-md-6">
       <textarea rows="15"> 

 I would like to share my Yourie Album with you!

 If you have a Yourie account click this link:

           <%=  request.referrer %>

 If you do not have a Yourie account, click the link below and sign up for a 
 new account and then come back to this email and click the link above.

           https://yourie.herokuapp.com/


      </textarea>
    </div>
  </section>
 
<center><b>Once you are finished with the email, click Close.</br>

<%= link_to "Close", url_for(:back), class: "btn btn-sm btn-primary" %></b></center>





