<title>Friends & Family | Yourie</title>
<% provide(:title, "Friends & Family") %>

<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>
<h1>Gift Certificates!</h1>
<center>
<h2>Share all your treasured moments and memories with your friends and loved ones - and they can share theirs with you!  </br></br>

Order the number of certificates you would like and we will send them to you to sign and deliever. 
</br></br>Send them in a Holiday Card or use them as stocking stuffers. </br></br> </br>

- $14.99 - per account certificate</h2></center>

<center><br>
<%= image_tag("giftcertificatesml2.png", alt: "Gift Certificates")%>
</center></br></br>

<center></br>Click the Cart to Purchase</br>
<%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EBFTC7RA2CTPY' %></br>
             </center></br>
             
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>