<title>Premium | Yourie</title>
<% provide(:title, "Premium") %>
<br />
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %>

  
</center>

<h1><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HMLCTAUKVD4EQ" title="PREMIUM ACCOUNT"><u>PREMIUM ACCOUNT</u></a></h1>
</br> 

<center><p>
<h3>Your Premium Account Includes:</h3><br />


<li>Unlimited Books</li>
<li>Unlimted Text Posts</li>
<li>12,500 Photo Posts</li>
<li>Unlimited Follow/Followed (Shares)</li>
<li>50 Gigibites Storage*</li>
<li>Vault Services</li>
</br>
<i>* Additional 50 GB storage and 12,500 photo posts can be purchased for $10 per year.</i>
<br /></center>

<center><%#= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %></br></center>








<center><h3>Just $24.99 Per Year!</h3></br>

</center>

<p>
<center><%= link_to image_tag("paypal.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HMLCTAUKVD4EQ' %></center>
</br></br>
<center>We do not gather or store any personal or financial information other <br />than your email address 
and Yourie posts and images. <i>See "Terms of Use" below.</i><br /><br />
</center>


</p>
<br />
<center>Photos Stored Safely on Amazon's AWS Storage Services <%=image_tag("Amazon.png", alt: "Amazon")%>
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></br></center><br />












<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>
