<center>
  <h1><font color="#0099ff">The Story Behind</font></h1><%=  image_tag("ylogomed.png", alt: "Yourie logo") %></br></br></b>
  </center>
</br></br>
  
  <%#= link_to "Sign Up Today - Risk FREE*", youriepay_path, class: "btn btn-sm btn-primary" %>
  
<center><h1>It is said that a picture is worth a thousand words.</br> </br> 
It can also be said that behind every picture there is a </br>story that pictures alone cannot tell.</h1></center> </br></br>
<center><%=  image_tag("marksml.png", alt: "Mark") %></center>

<h4>Hello! </br></br>

My name is Mark Belden, I live in Boise, Idaho, and I’m am the creator and lead developer of Yourie. </br></br>

The idea for Yourie came to me, by accident, as a result of a personal need. </br></br>

One day while working on a personality analysis website, my wife Kelly got a call from her parents (yes, my in-laws) asking if I could please send them copies of our best family pictures from over the years.  Ok, in truth, they had been asking me for the photos for a couple of years. 
</br></br> 

Well, Kelly and I have been married for 22 years with 2 children (plus 1  dog and 1 cat) which means 22 years of birthdays, weddings, school plays, soccer, volleyball, football, tennis, holidays, vacations and everything in between -- all captured, in yes, <i>photos</i>.  Thousands of photos! </br></br>

And, in addition to the thousands of digital pictures that we have taken as a family over the years, we had thousands more printed pictures in boxes stowed in our attic.  </br></br>

One of the reasons we never got the printed pictures out of the attic was because they were not organized in any meaning full way (It was just as bad for our digital photos!).  Many were in their original envelopes, e.g. Fotomat, but most were just stored in small boxes --- dozens of small boxes.  WOW! Where do I start.

I figured that the job of sorting out the prints was going to require a full weekend ( which turned out to be several weekends) and then I had to find a way to replicate them and get them to the in-laws with out spending a fortune in reprint charges. </br></br>

</br><center><%=  image_tag("Story 3.png", alt: "fotomat") %></center></br></br>


Every series of pictures I went through jogged my memory of events that I had long forgotten. Events and stories that I wanted my children and grand children to know – if they ever had an interest. </br></br>
 
So, there I was, busy building an application for analyzing personalities, which was proving to be very challenging, and between the 14 hour coding sessions I would spend my “free” time sorting photos, wondering how I was ever going to organize them in a truly meaning full way.  </br></br>

Then one day it hit me.  Instead of pursuing the personality application, why not build an application that would allow me to categorize all our photos; tell the stories behind those photos; store them safely online and then be able to share them with my family and friends.
</br></br>
Now there are plenty of photo storage and sharing sites online, but none really did what I wanted to be able to do.  

<center><br> <br>I wanted an <b><u><i>index driven system</i></u></b> where I could <b><u><i>categorize</i></u></b> our photos based on <b><u><i>what the photos were about.</i></u></b></center> 
</br></br>
<i>I also wanted to build something that would be very easy for my in-laws to use.</i>
</br></br>
So, I immediately dropped the personality application and began work on what is now Yourie! 
</br></br>
And now, rather than just uploading our camera rolls to an online storage service or onto a PC, we post them to “Books” in our Yourie Albums. Each member of my family now has a Yourie album that our family and friends can view (<i>if we choose</i>), and we can view theirs (<i>if they choose</i>)!
</br></br>
Give it a try, I think you’ll find that it is the simplest and most effective way to organize, storage and share you most treasured memories for generations to come.
</br></br>
Best Regards,
</br></br>
<%=  image_tag("sigmed.png", alt: "Signature") %>
</br></br>

PS. We are constantly looking for ways to improve the site, if you have an idea we’d love to hear from you. 
</br></br></h4>
<center><a href="http://www.usdigibrands.com/machform/view.php?id=12710" title="Yourie Suggestion & Comment Form"><b><font size="3" color="blue">Yourie Suggestion & Comment Form</font></b></a></center></br></br>
<center><h1>The First Yourie Books and Posts </h1>
  </br>

  <%=  image_tag("family book.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 1.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 2.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 3.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 4.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 5.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 6.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 7.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 9.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 11.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 12.png", alt: "Yourie logo") %>
  <%=  image_tag("Wedding 13.png", alt: "Yourie logo") %>
  
  <%=  image_tag("shells 10th 1.png", alt: "Yourie logo") %>
  <%=  image_tag("shells 10th 2.png", alt: "Yourie logo") %></center>
  </br></br>
  <center><%= link_to "Sign Up Today!", youriepay_path, class: "btn btn-lg btn-primary" %></br></center>

  </br><center>Photos Stored Safely on Amazon's AWS Storgae Services <%=image_tag("Amazon.png", alt: "Amazon")%>
<%= link_to image_tag("cloud.png", alt: "Cloud logo"),
              'https://yourie.herokuapp.com/' %></center></br><br/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>
