<% @user = current_user %>
</br>
<center><%=  image_tag("ylogomed.png", alt: "Yourie logo") %></center>

<h1>Suggestion Box</h1>

<!--<center>
<b>This is the first release of Yourie and we are working on several important </br>
features that will enhance your experience on the site including:</br></br>
 <li>Create chapters</li></br>
 <li>Insert and move posts up and down</li></br>
 <li>Advanced sharing features</li></br>
 <li>Post video and music files</li></b>
</br> 
</center>
<h1>Suggestion Box</h1>-->
<center><b>If you have any ideas or suggestions to improve the Yourie user experience we would love to hear from you.</br>
Just click the link below for the suggestion box form. </center></br>
</br>
<center><a href="http://www.usdigibrands.com/machform/view.php?id=12710" title="Yourie Suggestion & Comment Form"><b><font size="3" color="blue">Yourie Suggestion & Comment Form</font></b></a></center>
</br>
</br>
</br>
<center><b>Thank you for your thoughts!</center></br>





