<% provide(:title, "Term of Use") %>
<h1>Terms of Use</h1>
<p>This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  Please note that Section 16 contains certain changes to the general terms for users outside the United States.
<br /><br /><center><b> USDigiBrands</b></center><br />
</p>
<p align="center"><strong>Terms of Use Agreement</strong></p><p align="center"><strong>Read This Terms of  Use Agreement Before Accessing Our Websites.</strong></p>
  <p>Effective Date:
  This Terms  of Use Agreement was last updated on May 25, 2016.</p>
  <p>This Terms of Use Agreement sets forth the standards of use  of the USDigiBrands Online Service. By using the USDigiBrands Website or any other USDigiBrands owned domain or URL Address  Websites you (the “User”) agree to these terms and conditions. If you do not agree to the terms and conditions of this agreement, you should immediately  cease all usage of this and other USDigiBrands websites. We reserve the right, at any time, to modify,  alter, or update the terms and conditions of this agreement without prior  notice.  Modifications shall become effective immediately upon being posted at the USDigiBrands Website or any other USDigiBrands owned domain or URL Address  Websites.
  Your continued use of the Service after amendments are posted  constitutes an acknowledgement and acceptance of the Agreement and its  modifications. Except as provided in this paragraph, this Agreement may not be  amended.</p>
  <ol>
    <li>Description of Service</li>
    <p>USDigiBrands is providing User  with access to all USDigiBrands Website Portals. User must provide (1) 
    all equipment necessary for their own Internet  connection, including computer and modem and (2) provide for User’s access to  the Internet, and (3) pay any fees relate with such connection.
    </p>
    <li>Disclaimer of  Warranties.</li>
    <p>The sites are provided by USDigiBrands on an “as is” and on an “as available” basis.
    To the fullest extent permitted by applicable  law, USDigiBrands makes no representations or warranties of any kind,  express or implied, regarding the use or the results of this web site in terms  of its correctness, accuracy, reliability, or otherwise.
    USDigiBrands shall have no liability for  any interruptions in the use of any USDigiBrands Websites or any interruption to user as a  result of the use of Third Party Websites that user access through the USDigiBrands  Websites.
    USDigiBrands disclaims all  warranties with regard to the information provided, including the implied  warranties of merchantability and fitness for a particular purpose, and  non-infringement.
    Some jurisdictions do  not allow the exclusion of implied warranties, therefore the above-referenced exclusion  is inapplicable. If you are resident in a state or country that does not allow implied warranties, you are not authorized to use this or any other USDigiBrands website.</p>
      <li>Limitation  of Liability</li>
    <p>USDigiBrands SHALL NOT be liable for any damages whatsoever, and in  particular USDigiBrands shall not be liable for any special, indirect,  consequential, or incidental damages, or damages for lost profits, loss of  revenue, or loss of use, arising out of or related to this web site or the  information contained in it, whether such damages arise in contract,  negligence, tort, under statute, in equity, at law, or otherwise, even if USDigiBrands has been advised of the possibility of such damages. SOME  JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR  INCIDENTAL OR CONSEQUENTIAL DAMAGES, THEREFORE SOME OF THE ABOVE LIMITATIONS IS  INAPPLICABLE. </p>
      <li>Indemnification</li>
    <p>User agrees to indemnify and hold USDigiBrands, its  parents, subsidiaries, affiliates, officers and employees, harmless from any  claim or demand, including reasonable attorneys’ fees and costs, made by any  third party due to or arising out of User’s use of the Service, the violation  of this Agreement, or infringement by User, or other user of the Service using User’s  computer, of any intellectual property or any other right of any person or  entity. </p>
      <li>Modifications  and Interruption to Service</li>
    <p>USDigiBrands reserves the right to modify or  discontinue the Service with or without notice to the User. USDigiBrands shall  not be liable to User or any third party should USDigiBrands exercise its  right to modify or discontinue the Service. User acknowledges and accepts that USDigiBrands does not guarantee continuous, uninterrupted or secure access to  our websites and operation of our websites may be interfered with or adversely  affected by numerous factors or circumstances outside of our control. </p>
      <li>Links  to Third-Party Sites <br />
    </li>
    <p>Our websites may include links to other sites on the Internet  that are owned and operated by online merchants and other third parties.
    You acknowledge that USDigiBrands is not  responsible for the availability of, or the content located on or through, any  third-party site or any damage you may incur by using Linked Sites.
    You should contact the site administrator or  webmaster for those third-party sites if you have any concerns regarding such  links or the content located on such sites.
    Your use of those third-party sites is subject to the terms of use and  privacy policies of each site, and USDigiBrands is not responsible therein.  USDigiBrands is not responsible for webcasting or any other form of  transmission received from any Linked Site.
    USDigiBrands encourages all Users to review said privacy policies of  third-parties’ sites.
    </p>
      <li>Disclaimer  Regarding Accuracy of Vendor Information </li>
    <p>Product specifications and other information have either  been provided by the Vendors or collected from publicly available sources.
    While USDigiBrands makes every effort to  ensure that the information on USDigiBrands websites are accurate, USDigiBrands can  make no representations or warranties as to the accuracy or reliability of any  information provided on this and other USDigiBrands websites.</p>
  <p>USDigiBrands makes no warranties or representations  whatsoever with regard to any product provided or offered by any Vendor, and  you acknowledge that any reliance on representations and warranties provided by  any Vendor shall be at your own risk.</p>
      <li>Governing  Jurisdiction of the Courts Idaho</li>
      
    <p>Our website is operated and provided in the State of Idaho.
    As such, USDigiBrands is subject to the  laws of the State Idaho, and such laws will govern this Terms of Use, without  giving effect to any choice of law rules.
    USDigiBrands makes no representation that our websites or other  services are appropriate, legal or available for use in other locations.
    Accordingly, if you choose to access our site  you agree to do so subject to the internal laws of the State Idaho.
    </p>
      <li>Compliance  with Laws.</li>
    <p>User assumes all knowledge of applicable law and is responsible  for compliance with any such laws.
    User  may not use the Service in any way that violates applicable state, federal, or  international laws, regulations or other government requirements. User further  agrees not to transmit any material that encourages conduct that could constitute  a criminal offense, give rise to civil liability or otherwise violate any  applicable local, state, national, or international law or regulation. </p>
      <li>Copyright  and Trademark Information </li>
    <p>All content included or available on this and other USDigibrands Websites, including  site design, text, graphics, interfaces, and the selection and arrangements and  look and feel thereof is ©2010 USDigiBrands, with all rights reserved, or  is the property of USDigiBrands and/or third parties protected by  intellectual property rights.
    Any use of  materials on the website, including reproduction for purposes other than those  noted above, modification, distribution, or replication, any form of data  extraction or data mining, or other commercial exploitation of any kind,  without prior written permission of an authorized officer of USDigiBrands  is strictly prohibited.
    Users agree that  they will not use any robot, spider, or other automatic device, or manual  process to monitor or copy our web pages or the content contained therein  without prior written permission of an authorized officer of USDigiBrands.</p>
  <p>USDigiBrands™, Picadex™ and Picadex.com™ are proprietary marks of USDigiBrands.
  USDigiBrands trademarks may not be used in connection with any  product or service that is not provided by USDigiBrands, in any manner  that is likely to cause confusion among customers, or in any manner that  disparages or discredits USDigiBrands.</p>
  <p>All other trademarks displayed on USDigiBrands’s  website are the trademarks of their respective owners, and constitute neither  an endorsement nor a recommendation of those Vendors.  In addition, such use of trademarks or links  to the web sites of Vendors is not intended to imply, directly or indirectly,  that those Vendors endorse or have any affiliation with USDigiBrands.</p>
      <li>Notification  of Claimed Copyright Infringement</li>
    <p>Pursuant to Section 512(c) of the Copyright Revision Act, as  enacted through the Digital Millennium Copyright Act, USDigiBrands  designates the following individual as its agent for receipt of notifications  of claimed copyright infringement.</p>
  <p>Mark Belden<br />
    By Email: admin@usdigibrands.com</p>
      <li>Botnets</li>
    <p>USDigiBrands retains the right, at our sole discretion,  to terminate any accounts involved with botnets and related activities. If any  hostnames are used as command and control points for botnets, USDigiBrands  reserves the right to direct the involved hostnames to a honeypot, loopback  address, logging facility, or any other destination at our discretion. </p>
      <li>Other Terms </li>
    <p>If any provision of this Terms of Use Agreement shall be  unlawful, void or unenforceable for any reason, the other provisions (and any  partially-enforceable provision) shall not be affected thereby and shall remain  valid and enforceable to the maximum possible extent.  You agree that this Terms of Use Agreement  and any other agreements referenced herein may be assigned by USDigiBrands,  in our sole discretion, to a third party in the event of a merger or  acquisition.
    This Terms of Use Agreement  shall apply in addition to, and shall not be superseded by, any other written  agreement between us in relation to your participation as a User.
    User agrees that by accepting this Terms of  Use Agreement, User is consenting to the use and disclosure of their personally  identifiable information and other practices described in our Privacy Policy  Statement.</p></ol>