<title>Photo Services | Yourie</title>
<% provide(:title, "Photo Services") %>
<br />
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br></br>
              


<h1>Photo Digitizing Services</h1></br></br>              
<center><h3>Let Us Turn This!</h3></br></br>


<%= link_to image_tag("photo pile1.jpg", alt: "Photo Pile")%></br></br>
<%= link_to image_tag("scanner.jpg", alt: "Scanner")%></br></br>
<h3>Into This!</h3>
<%= link_to image_tag("pc yourie.jpg", alt: "Photo Pile")%></br></br>


<h2>Request a Quote</h2>
<center><a href="http://www.usdigibrands.com/machform/view.php?id=14480" title="USDigiBrands, Inc. </br> Photo Digital Reproduction Services">USDigiBrands, Inc. </br> Photo Digital Reproduction Services</a>

</center></br></br></br></br>               
              
<h1>Photo Vault Storage Services</h1></br></br>
<center><%= link_to image_tag("vault.jpg", alt: "Vault"),
              'https://yourie.herokuapp.com/' %></center></br>
<center><h3>Photos are some of our most treasured and valuable possessions.  

</br></br> Our personal photos cannot be insured or replaced, but they </br>can be protected in the event of a disaster. 
</br></br>We offer secure fire and flood protected digital photo vault services.  

</br></br> It is the best protection you can get for just $15 dollars per year. </br></br>
<i>Vault services are included in you annual Yourie subscription.</i> </h3></center> 
             
<center><br>
<%#= link_to image_tag("burglars1.jpg", alt: "Burglars")%>
<%= link_to image_tag("house fire1.jpg", alt: "House Fire")%>
<%#= link_to image_tag("house flood.jpg", alt: "House Flood")%>
<br>
<%#= link_to image_tag("tornado2.jpg", alt: "Tornado")%>
<%#S= link_to image_tag("tornado1.jpg", alt: "Tornado")%>
<%#= link_to image_tag("burglars1.jpg", alt: "Yourie logo")%></center>
<h3>Vault Services</h3>
</br>
 $15.00 per year</center></br>
<center><%= link_to image_tag("paypacrtsm.png", alt: "PayPal"),
              'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZPJYHMDD4K4D4' %></br>
             </center></br>  

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>