<%= form_for(@manage) do |f| %>
  <% if @manage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage.errors.count, "error") %> prohibited this manage from being saved:</h2>

      <ul>
      <% @manage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :plan %><br>
    <%= f.number_field :plan %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :books %><br>
    <%= f.number_field :books %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
