<p id="notice"><%= notice %></p>

<h1>Listing Manages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Plan</th>
      <th>Message</th>
      <th>Books</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manages.each do |manage| %>
      <tr>
        <td><%= manage.user_id %></td>
        <td><%= manage.plan %></td>
        <td><%= manage.message %></td>
        <td><%= manage.books %></td>
        <td><%= manage.date %></td>
        <td><%= manage.user %></td>
        <td><%= link_to 'Show', manage %></td>
        <td><%= link_to 'Edit', edit_manage_path(manage) %></td>
        <td><%= link_to 'Destroy', manage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage', new_manage_path %>
