<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @manage.user_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @manage.plan %>
</p>

<p>
  <strong>Message:</strong>
  <%= @manage.message %>
</p>

<p>
  <strong>Books:</strong>
  <%= @manage.books %>
</p>

<p>
  <strong>Date:</strong>
  <%= @manage.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @manage.user %>
</p>

<%= link_to 'Edit', edit_manage_path(@manage) %> |
<%= link_to 'Back', manages_path %>
