<% provide(:title, 'signup_path') %>
<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>

 

<h1>Welcome To Yourie!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br /><br />
<center>Your email and account information will never be sold to, or shared with, any third parties <i>See "Terms of Use" below.</i></center><br /><br />
<center>Photos Stored Safely on Amazon's AWS Storgae Services <%=image_tag("Amazon.png", alt: "Amazon")%></center><br />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>