

<% provide(:title, @user.name) %>
<!--users/show.html.erb with shared/boxes.html.erb -->
 <% params.inspect %>
<%  @user.id %>
 <center><!--Note: This is a MVP (Minimum Viable Product) prototype site for investor review only. Not all user functions and features are available.</center>--></center> 
<%  current_user.id %>
  <% if @user.id != current_user.id  %> 
    <div class="row">
      <aside class="col-md-4">
      <section class="user_info">
     
     
        
      <h1>
        <%= gravatar_for @user %> </h1>
        <%= @user.name %></br>
<div class="col-md-4">
   
   
  
    <% else %> 
    <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %> </h1>
        <%= @user.name %></br>
        <%= link_to 'Create A New Book', new_box_path %>
       </section>
   
        <%= render 'shared/stats' %>
        
<%#= link_to "Demo",
              'https://yourie.herokuapp.com/users/pmvxzVQd' %></h1>
              
              <%#= link_to "Shared Demo 2",
              'https://yourie.herokuapp.com/users/bJVWBEer' %></h1>
              
              
<%#= link_to "About/Help",   about_path %></br></br>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
Account Settings
            </a>
            <ul class="dropdown-menu">
              
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Suggestions", suggestions_path %></li>
              <li><%= link_to "Cancel Your Account", deleteaccount_path %> </li>
              <li class="divider"></li>
              <li>
               </ul>
              
     
  <% end %>      
    
  </aside>
  <section>
  
        
        
  <% if @user.id != current_user.id  %> 
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <%  @boxes = @user.boxes(params[:id]) %>
    <% if @boxes.any? %>
    
      <h1> Bookshelf</h1> 
     <h6> (<%= @user.boxes.count %>) Books</h6>
      
    <% @boxes.each do |box| %>
     <% @book = box.book %>
     <h3>&middot; <%= link_to @book, box_path(box) %></h3>
            
    <% end %>  
    
  <% end %>
  
  <% else %> 
  
   <div class="col-md-8">
    
    <%  @boxes = @user.boxes(params[:id]).sort { |a,b| a.book <=> b.book } %>
    <% if @boxes.any? %>
    </br>
    </br>
    <center><b>
    <%= link_to "Share Your Yourie Album", invite_path, class: "btn btn-sm btn-primary" %></b></center>
      <h1> Bookshelf</h1> 
     <h6> Books: (<%= @user.boxes.count %>) </h6>
      
    <% @boxes.each do |box| %>
     <% @book = box.book %>
     <h3><%= link_to @book, box_path(box) %></h3>
        <%= link_to 'Show |', box %>
        <%= link_to 'Edit |', edit_box_path(box) %>
        <%= link_to 'Delete', box, method: :delete, data: { confirm: 'Are you sure?  This will delete the book and all content in the book ' } %>  
        
     <% end %> 
    <% end %>
    <center><%#= link_to "Delete Yourie Account", deleteaccount_path %></center>
    <% end %>
  </div>
  </section>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70798097-1', 'auto');
  ga('send', 'pageview');

</script>


