<li id="box-<%= box.id %>">
  <%= link_to gravatar_for(boxes.user, size: 50), boxes.user %>
  <span class="user"><%= link_to boxes.user.name, boxes.user %></span>
  <span class="content"><%= boxes.book %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(boxes.created_at) %> ago.
  </span>
</li>