<%  current_user.id %>
<%  @box.user.id %>
<% if @box.user.id != current_user.id  %>


<%= render 'shared/user_info' %>
<% else %>
<h1>Edit Book Name</h1>

<%= render 'form' %>

<%= link_to 'Show', @box %> |
<%= link_to 'Back', current_user %>

<% end %>