<center><%= link_to image_tag("ylogomed.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></center></br>

<h1>Create New Book</h1>

<%= render 'form' %>

<%= link_to 'Back', current_user %>
