<%#= current_user.name %>
<%#= current_user.id %>
<%#= @boxes.id %>


<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= gravatar_for @boxes.user %> 
        <%= @boxes.user.name %></br>
        <span><%= link_to "  Bookshelf", @boxes.user %></span>
        
      </section>
      <strong>Book:</strong>
         <%= @box.book %>
      <section class="micropost_form">
        
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  
   <% if @box.user.id == @user.id  %> 
   
 <section> 


 <% if @microposts.any? %>
  <%= link_to "Show Posts: First to Last", reverse_path, class: "btn btn-sm btn-primary" %>
      <h3>Posts (<%= @microposts.count %>)</h3>
     
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      
      <%= link_to "Back to Top", "#top", class: "btn btn-sm btn-primary" %>
      <%= link_to "  Bookshelf", @boxes.user, class: "btn btn-sm btn-primary" %>
   </section>    
<% end %>


  <% else %>
  

  <div class="col-md-8">
    <%= link_to "Show Posts: First to Last", reverse_path, class: "btn btn-sm btn-primary" %>
    <% if @microposts.any? %>
      <h3>Posts (<%= @microposts.count %>)</h3>
       
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= link_to "Back to Top", "#top", class: "btn btn-sm btn-primary" %>
      <%= link_to "  Bookshelf", @boxes.user, class: "btn btn-sm btn-primary" %>
<% end %>
</div>
  </div>
<% end %>
 
     <% else %>
     
  <div class="center">
    <h1>
      <small>Welcome to</small></br> 
    <%= link_to image_tag("Yourie.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></h1>

  

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  

  <% end %>

