<%  @boxes = @user.boxes(params[:id]) %>
    <% if @boxes.any? %>
      <h1> Bookshelf</h1> 
     <h6> (<%= @user.boxes.count %>) Books</h6>
      
    <% @boxes.each do |box| %>
     <% @book = box.book %>
     <h3><%= link_to @book, box_path(box) %></h3>
            
    <% end %>  
    <% end %>