<%#= current_user.name %></br>
<%#= current_user.id %></br>
<%#= @boxes.user.id %></br>
<% if current_user.id == @boxes.user.id  %>
<%= form_for(Micropost.new, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose a new Yourie post here........." %>
    <%= f.hidden_field :boxes_id, :value => @boxes.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <span class="picture">
    
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpe' %>
  </span>
<% end %>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
<% else %>


<% end %>
