<% provide(:title, "Edit micropost") %>
<h1>Edit Yourie Post</h1>
<%= form_for(@micropost) do |f| %>

<div class="field">
    
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
   <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png, :align=> "middle"' %>
  </span>
<% end %>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
