<%#= current_user.name %>
<%#= current_user.id %>
<%#= @boxes.id %>


<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= gravatar_for @boxes.user %> 
        <%= @boxes.user.name %></br>
        <span><%= link_to "  Bookshelf", @box.user %></span>
        
      </section>
      <strong>Book:</strong>
         <%= @box.book %>
      
    </aside>
    
 <% if @user.id == @box.user.id  %>   
 
   <div class="col-md-8">
    <% if @microposts.any? %>
    <%= link_to "Show Posts: Last to First - Add Post", :back, class: "btn btn-sm btn-primary"  %>
      <h3>Posts (<%= @microposts.count %>)</h3>
      
      <ol class="microposts">
        <%= render @microposts.reverse %>
      </ol>
      <%= link_to "Top of Page", "#top", class: "btn btn-sm btn-primary" %>
      <%= link_to "  Bookshelf", @boxes.user, class: "btn btn-sm btn-primary" %>
  
 <% end %>
 
 <% else %>
 
  <div class="col-md-8">
    <% if @microposts.any? %>
    <%= link_to "Show Posts: Last to First", :back, class: "btn btn-sm btn-primary"  %>
      <h3>Posts (<%= @microposts.count %>)</h3>
      
      <ol class="microposts">
        <%= render @microposts.reverse %>
      </ol>
      <%= link_to "Top of Page", "#top", class: "btn btn-sm btn-primary" %>
      <%= link_to "  Bookshelf", @boxes.user, class: "btn btn-sm btn-primary" %>
      
<% end %>

<% end %>

 </div>
  </div>
     <% else %>
     
  <div class="center">
    <h1>
      <small>Welcome to</small></br> 
    <%= link_to image_tag("Yourie.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></h1>

  

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  

  <% end %>


