<footer class="footer">
  
  <small><%= link_to image_tag("ylogosmg.png", alt: "Yourie logo"),
              'https://yourie.herokuapp.com/' %></br>
    Personal Memories Organizer, Storage & Sharing  
    </br>Copyright © 2016 USDigiBrands, Inc.  <a href="https://yourie.herokuapp.com/"></a></br>
    Yourie&trade; & Yourie.com&trade; are trademarks of USDigiBrands, Inc.<br />
    All Rights Reserved. Patent Pending <br />
    *Amazon and the Amazon AWS Logo are properties of Amazon.com, Inc.  
    
    
  </small>
  <nav>
    <ul>
      <li><%#= link_to "Yourie Foundation",   youriepay_path %></li>
      <li><%= link_to "Privacy Policy", contact_path %></li>
      <li><%= link_to "Terms of Use", terms_path %></li>
      <li><%#= link_to "Photo Services", vault_path %></li>
      <li><%#= link_to "About/Help",   about_path %></li>
    </ul>
    
  </nav>
 </br>
 </br>
 </br>
<!--<ul></br></br> THIS IS NOT AN OFFER TO SELL OR A SOLICITATION OF ANY OFFER TO BUY ANY SECURITIES. OFFERS ARE MADE ONLY BY PRIVATE PLACEMENT MEMORANDUM OR OTHER OFFERING MATERIALS. TO OBTAIN FURTHER INFORMATION, YOU MUST COMPLETE OUR INVESTOR QUESTIONNAIRE AND MEET THE SUITABILITY STANDARDS REQUIRED BY LAW.

EXCEPT FOR HISTORICAL INFORMATION CONTAINED HEREIN, THIS DOCUMENT CONTAINS FORWARD-LOOKING STATEMENTS. SUCH FORWARD LOOKING STATEMENTS INVOLVE RISKS AND UNCERTAINTIES AND INCLUDE, BUT ARE NOT LIMITED TO, STATEMENTS REGARDING FUTURE EVENTS AND THE COMPANY'S PLANS AND EXPECTATIONS. THE COMPANY'S ACTUAL RESULTS MAY DIFFER MATERIALLY FROM SUCH STATEMENTS.

THE INCLUSION OF SUCH FORWARD-LOOKING INFORMATION SHOULD NOT BE REGARDED AS A REPRESENTATION BY THE COMPANY OR ANY OTHER PERSON THAT THE FUTURE EVENTS, PLANS OR EXPECTATIONS CONTEMPLATED BY THE COMPANY WILL BE ACHIEVED.</ul>
<center><%= link_to "", signup_path, class: "btn btn-lg btn-primary" %></center></br>
</footer>-->
