<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("picsmy.png", alt: "Yourie logo"), current_user, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <% if logged_in? %>
        <li><%= link_to "Home",   current_user %></li>
        
        <% else %>
        <li><%= link_to "Home",   root_path %></li>
        <% end %>
        
        
        <% if logged_in? %>
         <li><%= link_to "Log out", logout_path, method: "delete" %></li>
         <li><%#= link_to "*Yourie is Crowd Funded",   youriepay_path %></li>
         <li><%= link_to "Help",   help_path %></li>
         <li><%#= link_to "Sample 'Books'",
              'https://yourie.herokuapp.com/users/pmvxzVQd' %></li>
         <li><%#= link_to "Suggestions", suggestions_path %></li>
         <li><%= link_to "Gift Shop", giftshop_path %></li>
         <li><%= link_to "Services", vault_path %></li>
          <% if current_user.admin %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          
          
            </ul>
          </li>
        <% else %>
          
          <li><%= link_to "Log in", login_path %></li>
          <li><%#= link_to "The Yourie Story",   sample_path %></li>
          <li><%= link_to "Sample",   about_path %></li>
          <li><%= link_to "Gift Shop", giftshop_path %></li>
          <li><%= link_to "Services", vault_path %></li>
          
          <li><%#= link_to "*Yourie is Crowd Funded",   youriepay_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>