<!DOCTYPE html>
<html>
  
  <head>
    
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="https://ss.sharethis.com/loader.js"></script>
    <meta name="google-site-verification" content="BhwKfknu7jpXeG7pz6bnvcqgdGY1Y23jJiITyfh0Cb4" />
    <title><%= full_title(yield(:title)) %></title>
    <meta name='description'content='<%= yield_meta_tag(:description, 'Yourie - A cloud based website where you can organize, store and share your memorable life experiences with family and friends through photos and text') %>' />
    <meta name='keywords'content='<%= yield_meta_tag(:keywords, 'picture albums, photo albums, phoyobook, photo organizers, scrapbooking, scrapbook, memory books, memorybooks, photobooks, photobooks online') %>' />
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
 
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
  
</html>
<script type="text/javascript">stLight.options({publisher: "c14ff29b-ab4b-400b-8636-5feeac74864c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>



<!-- Yourie 1 -->
